.todo{
  width: 300px;
  height: 462px;
  background-color: #baefef;
  border-radius: 11px;
}
.input-nome-usuario{
  margin-left: 60px;
  text-align: center;
  border: none;
  background-color: #baefef;
}
.fixed-blockend{
  margin-top: 335px;
}
.botao-envia{
  margin-left: 43px;
    background-color: #447d7d;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    width: 65px;
    height: 37px;
}
.input-msg{
  border-radius: 30px;
  margin-block: -14px;
  margin-left: 9px;
  width: 174px;
  text-align: center;
}